@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  display: grid;
  padding-inline: 1.5rem;
  min-height: 100vh;
}
img {
  display: block;
  max-width: 100%;
}
.App {
  max-width: 500px;
  margin-inline: auto;
  margin-top: clamp(40px, 12vh, 70px);
  background-color: rgba(0, 0, 0, 0.904);
  padding-inline: 2rem;
  padding-top: 40px;
  border-radius: 12px;
  min-height: 100vh;
}
.checkedIcon {
  position: relative;
  z-index: 1;
  width: 24px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;

  border-radius: 50%;
}
.bg {
  background-color: aquamarine;
}
.checkedIcon li {
  list-style: none;
}
p {
  color: white;
}
.underlined {
  text-decoration: line-through;
  opacity: 0.5;
}

hr {
  margin-top: 22px;
  background-color: rgba(148, 148, 148, 0.281);
  height: 1px;
  border: none;
  outline: none;
}
form {
  background-color: rgba(148, 148, 148, 0.281);
  height: 40px;
  border-radius: 20px;
  max-width: 25rem;
  display: flex;
  justify-content: space-between;
  padding: 2px 5px 2px 20px;
  align-items: center;
}
input {
  border-radius: 2px;
  outline: none;
  border: none;
  background-color: transparent;
  width: 90%;
  color: white;
}
.addBtn {
  width: 34px;
  cursor: pointer;
  aspect-ratio: 1;
  outline: none;
  border: none;
  background-color: rgb(52, 142, 216);
  border-radius: 50%;
  font-size: 1.2rem;
  color: white;
}
.title {
  margin-top: 30px;
  color: white;
}
.listContainer {
  margin-bottom: 30px;
}
.listItem {
  width: 100%;
  background-color: rgba(148, 148, 148, 0.281);
  margin-top: 10px;
  display: flex;
  height: 40px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8px;
}
.listItem p {
  font-size: 14px;
}
.headLine {
  display: flex;
}
small {
  padding-right: 20px;
}
@media (max-width: 400px) {
  .listItem {
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 20px 0;
  }
  .headLine {
    align-items: center;
    justify-content: start;
  }
  .listItem p {
    font-size: 12px;
  }
}
